.main_chat
  .group-info
    .group-info__box
      %h2.group-info__box__name
        = @group.name

      %ul.group-info__box__member-list
        %p.group-info__box__title
          メンバー
        - @group.users.each do |user|
          %li
            = user.name

    = link_to edit_group_path(current_user)  do
      .group-info__edit
        Edit
        

  .message-lists
    = render @messages


  .message-form
    = form_for [@group, @message] do |f|
      .chat-box
        = f.text_field :chat_message, class: "chat-box__text", placeholder: "type a message"
        = f.label :chat_image, class: "chat-box-box__label" do
          = icon("fas", "image", class: "chat-box__label--icon")
          = f.file_field :chat_image, class: "chat-box__label--hidden"
      = f.submit "Send", class: "submit-btn"
