.side_bar
  .header
    .header__user-box
      %p.header__user-box--name
        = current_user.name

      %ul.header__user-box__menu
        %li.header__user-box__menu--edit-group
          = link_to new_group_path do
            = icon("far"," fa-edit")
        %li.header__user-box__menu--new-user
          = link_to edit_user_path(current_user) do
            = icon("fas", "cog")

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#', class: "group__group-box" do
          .group__group-box__name
            = group.name
          .group__group-box__message
            メッセージはまだありません。