.side_bar
  .header
    .header__user-box
      %p.header__user-box--name
        = current_user.name

      %ul.header__user-box__menu
        %li.header__user-box__menu--edit-group
          = link_to new_group_path do
            = icon("far"," fa-edit")
        %li.header__user-box__menu--new-user
          = link_to edit_user_path(current_user) do
            = icon("fas", "cog")

  .groups
    = link_to "#", class: "group" do
      %p.group__name
        課題提出チーム
      %p.group__message
        あああああああああああああああ
        
    = link_to "#", class: "group" do
      %p.group__name
        test,test
      %p.group__message
        aaaaaaaaaaaaaaaa